* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.containers {
    width: 98% !important;
    margin: auto;

}

/* navbar */
body {
    background-color: #f0ffff;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #f0ffff;
    position: sticky;
    border: 2px solid #cdaf95;
    border-radius: 5px;


}

.logo {
    width: 300px;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    justify-content: end;
    padding-right: 20px;


}

.navbar ul li {
    padding: 27px;



}

.navbar a {

    color: black;
    text-decoration: none;
    text-transform: uppercase;


}

.navbar ul li:hover {
    background-color: #cdaf95;
    border-radius: 5px;

}

.section1 {
    display: flex;
}

.container-section {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.container-section img {
    /* height: 700px; */
    margin: 10px 5px;
    overflow: hidden;
    border-radius: 5px;
}

.logo {
    padding-left: 10px;
    padding-top: 10px;

}

/* navbar bitiş */
/* section başlangıç */
.container section {
    justify-content: center;
    display: block;
}


.baslik {
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    font-family: "Courier New", Courier, monospace;
    font-size: 40px;
    opacity: 0.6;

}

.img2 {

    width: 800px;
    height: 800px;
}

.banner-img {
    display: flex;
    justify-content: start;
    width: 250px;
    height: 250px;
    flex-direction: column;

}

.gorsel {
    border: 1px solid black;
    display: flex;

}

.ortala {

    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {

    margin: 10px;
    padding: 5px;
    box-shadow: 0px 0px 10px 0px;
    border-radius: 8px;
    transition: all .7s ease-in-out;

}

.card img {

    height: 400px;
}

.card:hover {
    opacity: 0.8;
    transform: scale(.70);
    transition-duration: 200ms;



}

.containeryazi {
    padding: 35px 50px;
}

.anayazi {
    line-height: 45px;
    font-family: "Courier New", Courier, monospace;
}

footer {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

footer li a {
    text-decoration: none;
}

footer :last-child {
    display: flex;
    gap: 20px;
}

footer {

    border-radius: 5px;
    border: 2px solid #cdaf95;
    display: flex;
    justify-content: space-around;
    background-color: #f0ffff;
    padding: 30px;
    align-items: center;
    position: sticky;
    width: 100%;

}

footer li a {
    text-decoration: none;

}

footer ul {
    list-style-type: none;
}

footer:last-child {
    display: flex;
    gap: 20px;
}

footer ul li a {
    color: black;
    line-height: 35px;
    font-weight: bold;
    font-size: 20px;
    font-family: "Courier New", Courier, monospace;
}

footer ul li a:hover {
    transition: 1s all;
    transform: scale(1.5);
    background-color: #cdaf95;
    border-radius: 5px;
}


.section2 img {
    flex-wrap: wrap;
    height: 500px;
}

.cardürün {

    flex-wrap: wrap;
    margin: 20px;
    padding: 20px;
    box-shadow: 0px 0px 10px 5px;
    border-radius: 5px;

}


.imgclass {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;

}

.zoom:hover {
    border-radius: 10px;
    -webkit-transform: scale(1.5);
    transform: scale(1.2);

}


.formİletisim {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    border: 1px solid #f0ffff;
    gap: 10px;
    padding: 45px;
    background-color: #f0ffff;
    align-items: center;

}

section div .imgduzenle {
    display: flex;
    width: 400px;
    align-items: center;

}

.formİletisim img {
    height: 250px;
    margin-bottom: 10%;


}

.formİletisim input {
    flex-wrap: wrap;
    width: 400px;
    height: 35px;
    border: 1px solid black;
    padding: 11px;
    border-radius: 15px;
    margin-top: 18px;
    font-size: 11px;
    background-color: #f0ffff;
    padding: 15px 15px;
    display: flex;
    flex-direction: column;

}

section .formİletisim .buton {
    font-size: 10px;
    font-size: large;
    display: flex;
    color: black;
    background-color: #cdaf95;
    justify-content: center;



}

section .formİletisim .buton:hover {
    background-color: #f0ffff;
    color: black;
}

.sonyazi {
    display: flex;
    padding-top: 100px;
}

section .hakkimizda {
    flex-wrap: wrap;
   display: flex;
   justify-content: center;
   padding: 10px 20px;
   border-radius: 50px;
   
}
.hakyazi{
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    font-family: "Courier New", Courier, monospace;
    font-size: 25px;
    opacity: 0.9;
    padding-top: 150px;
    text-transform: uppercase;
}





